.hidden.menu {
    display: none;
}

.ui.text.container {
    max-width: 80% !important;
}

.masthead.segment {
    min-height: 100vh;
    padding: 1em 0em;
}

.masthead .ui.menu .ui.button {
    margin-left: 0.5em;
}

.masthead h1.ui.header {
    margin-top: 3em;
    margin-bottom: 0em;
    font-size: 4em;
    font-weight: normal;
}

.masthead h2 {
    font-size: 1.7em;
    font-weight: normal;
}

.outer-container{
    width: 100%;
    height: 50vw;
}

.map {
    width: 50%;
    height: 100%;
    float: left;
}

.worldmap {
    height: 100%;
    width: 100%;
}

#predict-form {
    margin-top: 100px;
}

#predit-button {
    margin-top: 30px;
}

.prediction-chart {
    margin-top: 20px;
}

#distribution-chart {
    float: left;
}

.leaflet-popup-content {
    color: black;
}

.tab-container{
    width: 50%;
    height: 100%;
    float: right;
}

.tab-labels{
    width: 100%;
    height: 5%;
    float: top;
    /*background-image: url('../img/tablabel.jfif');*/
    /*background-size:100% 100%;*/
    /* background-color: black; */
}

ul {
    width: 100%;
    height: 100%;
    margin-top: 0;
    float: top;
    list-style: none;
}
li {
    float: left;
    width: 25%;
    height: 100%;
    margin-left: -6.3%;
    text-align: center;
    color: rgb(224, 233, 240);
    font: 600 18px/40px "simsun";
    /* background-color: pink; */
    cursor: pointer;
}


.shown-tab{
    margin-top: -10px;
    width: 100%;
    height: 95%;
    float: bottom;
}

.invisible-tabs{
    width: 0px;
    height: 0px;
    display: none;
    float: bottom;
}

.history{
    width: 100%;
    height: 100%;
}

.analysis{
    width: 100%;
    height: 100%; 
}

.prediction{
    width: 100%;
    height: 100%; 
}

.housing-chart-container{
    width: 100%;
    height: 50%;
    float: left;
    background-color: white;
}

.housing-chart{
    width: 100%;
    height: 100%;
}

.covid-chart-container{
    width: 50%;
    height: 50%;
    /* position: relative;
    left: 50%;
    top: 0%; */
    float: right;
}

.covid-chart{
    width: 100%;
    height: 100%;
}

.emotion-display-container{
    width: 50%;
    height: 50%;
    float: left;
    background-color: navy;
}

.emotion-display{
    width: 100%;
    height: 100%;
}

.city-discription{
    width: 50%;
    height: 50%;
    float: right;
}

.analysis1-container{
    width: 50%;
    height: 50%;
    float: left;
}

.analysis1{
    width: 100%;
    height: 100%;
    border-width:2px;
    border-style:solid;
    border-color:black;
}

.analysis2-container{
    width: 50%;
    height: 25%;
    float: right;
}

.analysis2{
    width: 100%;
    height: 100%;
    border-width:2px;
    border-style:solid;
    border-color:black;
}

.analysis3-container{
    width: 50%;
    height: 25%;
    float: right;
}

.analysis3{
    width: 100%;
    height: 100%;
    border-width:2px;
    border-style:solid;
    border-color:black;
}

.analysis4-container{
    width: 100%;
    height: 50%;
    float: right;
}

.analysis4{
    width: 100%;
    height: 100%;
    border-width:2px;
    border-style:solid;
    border-color:black;
}

.prediction1-container{
    width: 100%;
    height: 50%;
    float: top;
}

.prediction1{
    width: 100%;
    height: 100%;
}

.prediction2-container{
    width: 100%;
    height: 50%;
    float: bottom;
}

.prediction2{
    width: 100%;
    height: 100%;
}

.prediction3-container{
    width: 50%;
    height: 50%;
    float: left;
    background-color: cornflowerblue;
}

.prediction3{
    width: 100%;
    height: 100%;
}

.prediction4-container{
    width: 50%;
    height: 50%;
    float: right;
    background-color: darkcyan;
}

.prediction4{
    width: 100%;
    height: 100%;
}

/* .prediction-housing-1{
    width: 50%;
    height: 50%;
    float: left;
    background-color: red;
}

.prediction-housing-2{
    width: 50%;
    height: 50%;
    float: right;
    background-color: orange;
}

.prediction-covid{
    width: 50%;
    height: 50%;
    float: left;
    background-color: green;
}

.housing-trend{
    width: 20%;
    height: 50%;
    float: left;
    background-color: blue;
}

.housing-analysis{
    width: 30%;
    height: 50%;
    float: right;
    background-color: purple;
} */

.full-chart{
    width: 100%;
    height: 100%;
    background-color: brown;
}

/* .tab-labels{
    width: 100%;
    height: 10%;
    float: top;
    background-color: aqua;
} */

/* .history-label{
    width: 25%;
    height: 100%;
    float: left;
    background-color: beige;
}

.prediction-label{
    width: 25%;
    height: 100%;
    float: left;
    background-color: blueviolet;
} */
